# Ignore my direnv setup
.envrc
.direnv

# Ignore Terraform plugin/module cache and local state files
.terraform
*.tfstate
*.tfstate.backup

# Don't include any local automatic variable assignment files
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
